*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr{
    height: 5px;
    background-color: black;
}
#section-one{
    background-color: black;
    width: 100%;
    height: 100vh;
}
.container-one{
    padding: 2rem;
}
.navbar{
    /* background-color: rgb(226, 11, 11); */
    color: white;
    color: #fcfbdb;
    padding: 20px 10px;
}
.heading-venan{
    font-size: 40px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Shippori Antique B1', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
nav{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5vh;
}
.navbar-list ul{
    list-style-type: none;
    display: flex;
}
.navbar-list li{
    padding: 10px 15px;
    text-decoration: none;
}
.navbar-list li a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    /* box-shadow: .5px .5px 20px 3px grey; */
}
.navbar-list a:hover{
    box-shadow: .5px .5px 20px 3px grey;
    transition-duration: 0.5s;
    /* text-decoration: underline; */
}
/* .heading , .navbar-list{
    margin-right: 20vw;
} */
.search-engine{
    float: right;
    padding: 10px 20px;
}
.search-engine button{
    padding: 10px 20px;
    cursor: pointer;
    background-color: orange;
}
.order-now{
    font-size: 16px;
    border-radius: 20px;
}
.order-now:hover{
    box-shadow: .5px .5px 20px 3px orange;
    background-color: white;
    color: black;
    transition: .2s;
}
.intro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    margin: 1rem;
}
.greeting{
    width: 45%;
    background-color: rgb(226, 218, 218);
    background-color: black;
    color: white;
    padding: 20px 20px;
}
.greeting h2{
    color: gold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 1.5rem;
}
.greeting h1{
    font-size: 32px;
}
.slogan{
    /* display: grid;
    align-items: center;
    justify-content: center; */
    text-align: center;
    margin: 3rem 1rem;
}
.slogan h1{
    font-size: 42px;
}
.food-images{
    padding: 20px 40px;
    width: 55%;
    background-color: black;
    /* background-color: rgb(240, 228, 173); */
    display: grid;
    grid-template-columns: auto auto;
    grid-column: 1/2;
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
}
.food-images img{
    width: 320px;
    height: 320px;
}
#pbm{
    display: flex;
    align-items: center;
    justify-content: center;
}
 


#section-two{
    background-color: antiquewhite;
    /* height: 50vh; */
    padding: 20px 25px; 
    margin: 1rem;
}
.container-two{
    padding: 10px 20px;
}
.category{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 500px; */
}
.category h1{
    /* text-align: center; */
    background-color: orange;
    font-weight: 700;
    width: 350px;
    padding: 5px 10px;
    border-radius: 20px;
}
.starter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 25px;
    padding: 20px 20px;
}
.item1 , .item2, .item3, .item4, .item5, .item6{
    display: block;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    /* margin: 10px; */
    padding: 20px 25px;
    height: 25vh;
}
.item1 img{
    border-radius: 50%;
    object-fit: cover;
    height: 6rem;
    width: 6rem; 
}
.item1:hover{
    background-color: black;
    color: white;
    box-shadow: .3rem -.3rem .5rem .2rem grey;
    transition: .5s;
    cursor: pointer;
}
.item2:hover{
    background-color: black;
    color: white;
    box-shadow: .3rem -.3rem .5rem .2rem grey;
    transition: .5s;
    cursor: pointer;
}
.item3:hover{
    background-color: black;
    color: white;
    box-shadow: .3rem -.3rem .5rem .2rem grey;
    transition: .5s;
    cursor: pointer;
}
.item4:hover{
    background-color: black;
    color: white;
    box-shadow: .3rem -.3rem .5rem .2rem grey;
    transition: .5s;
    cursor: pointer;
}
.item5:hover{
    background-color: black;
    color: white;
    box-shadow: .3rem -.3rem .5rem .2rem grey;
    transition: .5s;
    cursor: pointer;
}
.item6:hover{
    background-color: black;
    color: white;
    box-shadow: .3rem -.3rem .5rem .2rem grey;
    transition: .5s;
    cursor: pointer;
}
.item2 img{
    border-radius: 50%;
    object-fit: cover;
    height: 6rem;
    width: 6rem;
}
.item3 img{
    border-radius: 50%;
    object-fit: cover;
    height: 6rem;
    width: 6rem;
}
.item4 img{
    border-radius: 50%;
    object-fit: cover;
    height: 6rem;
    width: 6rem;
}
.item5 img{
    border-radius: 50%;
    object-fit: cover;
    height: 6rem;
    width: 6rem;
}
.item6 img{
    border-radius: 50%;
    object-fit: cover;
    height: 6rem;
    width: 6rem;
}


#section-three{
    background-color: antiquewhite;
    /* height: 60vh; */
    padding: 20px 25px;
    margin: 1rem;
}
.near-you h1{
    padding: 10px 30px;
    font-size: 32px;
    font-weight: bold;
}
.near-you p{
    font-weight: bold;
    padding: 10px 30px;
}
.near-you-food{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 15px 25px;
    padding: 20px 20px; */
    margin: 15px 15px;
    padding: 20px 5px;
}
.food1, .food2, .food3, .food4, .food5, .food6{
    border: 2px solid black;
    display: block;
    border-radius: 20px;
    text-align: center;
}
.food-image1 img{
    object-fit: cover;
    height: 6rem;
    width: 6rem; 
    border-radius: 50%;
}
.food1:hover{
    transition: .6s ;
    cursor: pointer;
    background-color: rgb(180, 180, 180);
    box-shadow: .5px .5px 20px 3px rgb(180, 180, 180);
    color: black;
}
.food2:hover{
    transition: .6s ;
    cursor: pointer;
    background-color: rgb(165, 42, 42,0.2);
    box-shadow: .5px .5px 20px 3px rgb(165, 42, 42,0.2);
    color: black;
}
.food3:hover{
    transition: .6s ;
    cursor: pointer;
    background-color: rgba(255, 166, 0, 0.582);
    box-shadow: .5px .5px 20px 3px rgba(255, 166, 0, 0.582);
    color: black;
}
.food4:hover{
    transition: .6s ;
    cursor: pointer;
    background-color: rgba(239, 234, 196, 0.76) ;
    box-shadow: .5px .5px 20px 3px rgba(239, 234, 196, 0.534);
    color: black;
}
.food5:hover{
    transition: .6s ;
    cursor: pointer;
    background-color: #bf998e85;
    box-shadow: .5px .5px 20px 3px #bf998e85; 
    color: black;
}
.food6:hover{
    transition: .6s ;
    cursor: pointer;
    background-color: #d8aa37;
    box-shadow: .5px .5px 20px 3px #d8aa37;
    color: black;
}
.food-image2 img{
    object-fit: cover;
    height: 6rem;
    width: 6rem; 
    border-radius: 50%;
}
.food-image3 img{
    object-fit: cover;
    height: 6rem;
    width: 6rem; 
    border-radius: 50%;
}
.food-image4 img{
    object-fit: cover;
    height: 6rem;
    width: 6rem; 
    border-radius: 50%;
}
.food-image5 img{
    object-fit: cover;
    height: 6rem;
    width: 6rem; 
    border-radius: 50%;
}
.food-image6 img{
    object-fit: cover;
    height: 6rem;
    width: 6rem; 
    border-radius: 50%;
}
.food1, .food2, .food3, .food4, .food5, .food6{
    padding: 20px 25px;
    /* margin: 0px 5px; */
}
.food-order{
    padding: 5px 10px;
    border-radius: 1rem;
    margin-top: .5rem;
    box-shadow: none;
    background-color: black;
    color: white;
}
.food-order:hover{
    cursor: pointer;
    background-color: orange;
    color: black;
    font-size: 16px;
    transition: .5s;
}
.food-text{
    line-height: 25px;
}
.food-text p{
    font-size: 12px;
}


#section-four{
    background-color: antiquewhite;
    background-color: black;
    color: white;
    /* height: 60vh; */
    padding: 20px 25px;
    margin: 1rem;
} 
.registration-form{
    padding: 1rem 2rem;
}
.fill-form{
    padding: 1rem;
    margin: 0rem 1.5rem;
}
.want-subs{
    padding: 10px 30px;
    font-size: 20px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    /* border: 3px solid black; */
    margin-bottom: 1rem;
}
.fill-form h2{
    /* border: 2px solid grey; */
    text-align: center;
} 
.form-center{
    margin: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.form-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    /* grid-gap: 1rem 5.5rem; */
    grid-gap: 2rem 14.5rem;
}

/* position: relative;
left: 21.5vw; */ 
.radio{
    margin: 1rem 1.5rem;
}  
.radio-center{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
} 
.button-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-here-center{
    padding: 10px 15px;
    text-align: center;
    background-color: orange;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    transition-property: background-color , border;
}
.register-here-center a{
    text-decoration: none;
    color: black;
}
.register-here-center:hover{
    background-color: antiquewhite;
    cursor: pointer;
    transition-duration: .4s;
    border: 2px solid black;
}

.footer{
    background-color: grey;
    padding: 1rem 2rem;
}
.heading{
    padding: 10px 20px;
    margin: 10px 5px;
    text-align: center;
    font-size: 16px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.5rem 0;
}
.fa{  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
}  
.fa-facebook{  
    background: #3B5998;  
    color: white;  
}  
.fa-twitter{  
    background: #55ACEE;  
    color: white;  
}  
.fa-linkedin{  
    background: #007bb5;  
    color: white;  
}  
.fa-instagram{  
    background: #125688;  
    color: white;  
}  
.fa-youtube{  
    background: #bb0000;  
    color: white;  
}   
.copyright{
    text-align: center;
}



/* Media Query */

@media (min-width: 872px) and (max-width: 1320px) {
    .food-images{
        display: block;
        object-fit: contain; 
    }
    #chole{
        position: absolute;
        top: 30rem;
        right: 7rem;
    }
    .food-images img {
        width: 320px; 
        height: 230px;
    }
}

@media (min-width: 600px) and (max-width: 872px){
    /* .food-images img{
        display: none;
    } */
    #chole{
        display: none;
    }
}